* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.nav {
  z-index: 9999;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.nav-bar {
  width: 98%;
  height: 10vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-logo {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 400px;
          flex: 4 1 400px;
}

.nav-logo img {
  width: 82px;
}

.nav-items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}

.nav-ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-ul li {
  color: rgba(0, 0, 0, 0.7);
}

.nav-ul span {
  font-weight: 600;
}

.nav-btn {
  padding: 0.5rem 1.4rem;
  border-radius: 5px;
  background-color: #CF2121;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

.nav-mobile {
  display: none;
}

.hamburger {
  display: none;
}

.hero {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  background-color: #F8F8F8;
}

.side-section {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}

.side-section form input {
  width: 100%;
  border: none;
  background-color: #F0F0F0;
  padding: 0.7rem;
}

.side-section form input:target {
  border: none;
}

.single-contact-card {
  padding: 0.6rem;
  border-right: 1px solid #D2D2D2;
  border-bottom: 1px solid #D2D2D2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
}

.single-contact-card h4, .single-contact-card h5 {
  font-weight: 600;
}

.single-contact-card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.single-contact-card span {
  font-size: 0.8rem;
  color: #686868;
}

.single-contact-card:hover {
  cursor: pointer;
}

.single-contact-card.active {
  background-color: #FFF7EA;
}

.green-status {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #16A085;
  border-radius: 50%;
}

.yellow-status {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #F0B859;
  border-radius: 50%;
}

.red-status {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #CF2121;
  border-radius: 50%;
}

#map {
  width: 88%;
  height: 300px;
}

.main-section {
  min-height: 90vh;
  -webkit-box-flex: 8;
      -ms-flex: 8 1 900px;
          flex: 8 1 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partner-details {
  width: 88%;
}

.partner-details h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

.partner-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  border: 1px solid #eeeeee;
  background-color: white;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
}

.cards span {
  color: #686868;
}

.call-btn {
  background-color: #FFC351;
  font-weight: 600;
  font-size: 0.8rem;
  border: none;
  border-radius: 20px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

.stops-section {
  width: 88%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.card-part {
  border: 1px solid #eeeeee;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-part p {
  font-size: 1rem;
}

.card-part span {
  font-size: 0.8rem;
  color: #686868;
}

@media screen and (max-width: 986px) {
  .partner-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 526px) {
  .nav-bar {
    display: none;
  }
  .nav-items {
    display: none;
  }
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1000000000;
    cursor: pointer;
  }
  .hamburger span {
    width: 20px;
    height: 3px;
    margin: 2px;
    background-color: black;
  }
  .nav-mobile {
    width: 95%;
    margin: auto;
    min-height: 7vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-mob-logo img {
    margin: 0px 30px;
    width: 64px;
  }
  .nav-mob-items {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 100vh;
    width: 250px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    padding-left: 30px;
    padding-top: 55px;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .nav-mob-items.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 90%;
  }
  .nav-ul li {
    padding-top: 10px;
    width: 100%;
    border-bottom: 1px solid #b1b1b1;
  }
  .call-btn {
    font-size: 0.6rem;
    padding: 0.3rem 0.6rem;
  }
  .stops-section {
    width: 95%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .stops-section .stop span, .stops-section .stop p {
    font-size: 0.8rem;
  }
  .main-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .partner-details {
    width: 95%;
    height: auto;
  }
  .partner-details h2 {
    padding-left: 10px;
  }
  .partner-card {
    width: 95%;
    margin: auto;
    height: auto;
  }
  .partner-card .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 10px;
    width: 95%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .partner-card .cards span, .partner-card .cards p {
    font-size: 0.8rem;
  }
  .partner-card .partner-call {
    display: none;
  }
  #map {
    width: 95%;
    margin: auto;
    height: 250px;
  }
  .side-section-content {
    position: absolute;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  }
  .side-section-content.active {
    width: 100%;
    height: 100%;
    z-index: 9999;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */